.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 800px;
  perspective: 500px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  row-gap: 10px;
}

.background {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(220, 0, 255, 1) 100%
  );
}

.countdownBarContainer {
  position: absolute;
  right: 50px;
  top: 100px;
  width: 150px;
  height: 492px;
  border: 5px solid black;
  background-color: black;
}

.countdownBarEllipse {
  height: 70px;
  width: 100%;
  border-radius: 50%;
  border: 3px solid black;
  text-align: center;
  position: relative;
}

.countdownBarEllipse:before {
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 3px solid white;
  border-radius: 50%;
  content: " ";
}

.countdownBarText {
  position: relative;
  top: -5px;
  text-align: center;
  font-family: "Arial Black";
  font-size: 48px;
  -webkit-text-stroke: 2px black;
}

.incorrectAnswerText {
  color: red;
  display: block;
  -webkit-text-stroke: 2px #BCA598;
  animation-name: spinner;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-iteration-count: 2;
  animation-duration: 2s;
  transform-style: preserve-3d;
}
@keyframes spinner {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}

.countdownLines {
  margin-top: 8px;
}

.countdownLines hr {
  margin: 2px 5px 0px 5px;
  border: 0;
  height: 2px;
  background-image: linear-gradient(90deg, rgba(211,0,255,1) 0%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 85%, rgba(211,0,255,1) 100%);
}

.incorrectAnswerLines hr {
  background: linear-gradient(90deg, red, #9C6E57 20%, rgba(255,255,255,1) 50%, #9C6E57 80%, red);
}

#countdownBarTopLine {
  background-image: linear-gradient(90deg, rgb(111, 0, 255) 0%, rgb(174, 0, 255) 20%, rgb(174, 0, 255) 80%, rgb(111, 0, 255) 100%);;
  border: 0;
  height: 5px;
}

.animateSize {
  font-size: 30px;
  transition-property: font-size;
  transition-duration: 2s;
}

.pictureBoard {
  font-family: 'Verdana';
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: #D3C733;
  font-weight: bold;
  height: 100%;
  margin-top: 20px;
}

.pictureBoardQuestionText {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
}

.pictureBoardContainer {
  width: 240px;
  height: 162px;
  border: 2px solid #CF9F6D;
  border-radius: 10px;
  display: flex;
  background-size: cover;
}

.pictureBoardAnswerContainer {
  display: flex;
  height: 30px;
  border: 2px solid #CF9F6D;
  border-radius: 10px;
  background-color: #700100;
  text-align: center;
  margin: -15px 10px 20px 10px;
  color: #F2DC53;
  font-size: 20px;
  align-items: center;
  justify-content:  space-between;
  color: "#FEFD1D";
}

.pictureBoardPictureContainer {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
}

.pictureBoardAnswerText {
  font-size: 12px;
  text-align: center;
  margin-left: 10px;
  width: calc(100% - 40px);
}

.pictureBoardPointsContainer {
    margin-right: -10px;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: 3px solid #FAF7A0;
    background: #82264D;
    font-family: "Arial Black";
}

.cluesAndAnswersBoardContainer {
  line-height: 1;
  height: 55px;
  border-radius: 50px;
  border: 2px solid #F9F463;
  margin: 35px 10px 10px 10px;
  display: flex;
  background: radial-gradient(ellipse at top, #660907, transparent), radial-gradient(ellipse at bottom, #200202, transparent);
}

.cluesAndAnswersBoardClueContainer {
  font-family: Verdana;
  text-transform: uppercase;
  color: #FEFD3C;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  position: relative;
  width: 70%;
  padding-left: 15px;
  text-align: center;
}

.cluesAndAnswersBoardAnswerContainer {
  font-family: Verdana;
  font-size: 18;
  text-transform: uppercase;
  padding: 10;
  color: #FEFD3C;
  width: 150px;
  display: flex;
  justify-content: center;
  align-Content: center;
  flex-direction: column;
  text-align: center;
}

.cluesAndAnswersBoardPointsContainer {
  width: 65px;
  height: 65px;
  border-radius: 75Px;
  border: 3px solid #FAF7A0;
  background: #82264D;
  margin: -8px 0px 10px 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 28px;
  font-family: "Arial Black";
  color: #FEFD1D;
}

.possibleAnswersBoardContainer {
  line-height: 1;
  height: 55px;
  border-radius: 50px;
  border: 2px solid #F9F463;
  margin: 35px 10px 10px 10px;
  display: flex;
  background: radial-gradient(ellipse at top, #660907, transparent), radial-gradient(ellipse at bottom, #200202, transparent);
}

.possibleAnswersBoardAnswerContainer {
  font-family: "Verdana";
  text-transform: uppercase;
  color: #FEFD3C;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding-left: 15px;
  text-align: center;
}

.possibleAnswersBoardPointsContainer {
  width: 65px;
  height: 65px;
  border-radius: 75px;
  border: 3px solid #FAF7A0;
  background: #82264D;
  margin: -8px 0px 10px 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-Direction: column;
  text-align: center;
}