.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  height: 100vh;
  perspective: 500px;
  background-image: url("/images/clues-and-answers.avif");
  background-size: cover;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  row-gap: 10px;
}

.menuButton {
  min-height: 50px;
  min-width: 200px;
  margin-top: 15px;
}

.background {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgb(77, 70, 217) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(220, 0, 255, 1) 100%
  );
}

.countdownBarContainer {
  position: relative;
  top: 150px;
  left: 50px;
  width: 150px;
  height: 500px;
  border: 5px solid black;
  background-color: black;
  font-family: Helvetica;
}

.countdownBarEllipse {
  height: 70px;
  width: 100%;
  border-radius: 50%;
  border: 3px solid black;
  text-align: center;
  position: relative;
  z-index: 9999;
}

.countdownBarEllipse:before {
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 3px solid white;
  border-radius: 50%;
  content: " ";
}

.countdownBarText {
  position: relative;
  top: -5px;
  text-align: center;
  font-family: "Arial Black";
  font-size: 48px;
  -webkit-text-stroke: 2px black;
}

.incorrectAnswerText {
  color: red;
  display: block;
  -webkit-text-stroke: 2px #bca598;
  animation-name: spinner;
  animation-timing-function: linear;
  animation-iteration-count: 2;
  animation-duration: 2s;
  transform-style: preserve-3d;
}
@keyframes spinner {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}

.countdownLinesColumn {
  display: flex;
  margin-top: 8px;
  flex-direction: column-reverse;
}

.animatedTopBar {
  animation: animateTopBarColor 5s ease;
}

@keyframes animateTopBarColor {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.countdownLinesColumn hr {
  margin: 2px 5px 0px 5px;
  border: 0;
  height: 2px;
  background-image: linear-gradient(
    90deg,
    rgba(211, 0, 255, 1) 0%,
    rgba(255, 255, 255, 1) 15%,
    rgba(255, 255, 255, 1) 85%,
    rgba(211, 0, 255, 1) 100%
  );
}

.incorrectAnswerLines hr {
  background: linear-gradient(
    90deg,
    red,
    #9c6e57 20%,
    rgba(255, 255, 255, 1) 50%,
    #9c6e57 80%,
    red
  );
}

#countdownBarTopLine {
  background-image: linear-gradient(
    90deg,
    rgb(111, 0, 255) 0%,
    rgb(174, 0, 255) 20%,
    rgb(174, 0, 255) 80%,
    rgb(111, 0, 255) 100%
  );
  border: 0;
  height: 5px;
}

.animatedSize {
  animation: animateSize 3s ease;
}

@keyframes animateSize {
  0% {
    font-size: 0.875rem;
  }
  50% {
    font-size: 1.5rem;
  }
  100% {
    font-size: 0.875rem;
  }
}

.pictureBoard {
  font-family: "Verdana";
  text-transform: uppercase;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: #d3c733;
  font-weight: bold;
  margin-top: 20px;
}

.pictureBoardQuestionText {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
}

.pictureBoardContainer {
  width: 240px;
  height: 162px;
  border: 2px solid #cf9f6d;
  border-radius: 10px;
  display: flex;
  background-size: cover;
}

.pictureBoardContainerFull {
  height: 100%;
  border: 2px solid #cf9f6d;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  vertical-align: middle;
  background-size: cover;
  font-size: 50px;
}

.pictureBoardContainerFull img {
  flex-grow: 1;
}

.pictureBoardAnswerContainer {
  display: flex;
  height: 30px;
  border: 2px solid #cf9f6d;
  border-radius: 10px;
  background-color: #700100;
  text-align: center;
  margin: -15px 10px 20px 10px;
  color: #f2dc53;
  font-size: 20px;
  align-items: center;
  justify-content: space-between;
  color: #fefd1d;
}

.pictureBoardAnswerContainerFull {
  display: flex;
  height: 50px;
  border: 2px solid #cf9f6d;
  border-radius: 10px;
  background-color: #700100;
  text-align: center;
  margin: -50px 10px 0px 10px;
  color: #f2dc53;
  font-size: 20px;
  align-items: center;
  justify-content: space-between;
  color: #fefd1d;
}

.pictureBoardPictureContainer {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
}

.pictureBoardAnswerText {
  font-size: 12px;
  text-align: center;
  margin-left: 10px;
  width: calc(100% - 40px);
}

.pictureBoardPointsContainer {
  margin-right: -10px;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 3px solid #faf7a0;
  background: #82264d;
  font-family: "Arial Black";
}

.cluesAndAnswersBoardContainer {
  line-height: 1;
  height: 55px;
  border-radius: 50px;
  border: 2px solid #f9f463;
  margin: 35px 10px 10px 10px;
  display: flex;
  background: radial-gradient(ellipse at top, #660907, transparent),
    radial-gradient(ellipse at bottom, #200202, transparent);
}

.cluesAndAnswersBoardClueContainer {
  font-family: Verdana;
  text-transform: uppercase;
  color: #fefd3c;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  position: relative;
  width: 70%;
  padding-left: 15px;
  text-align: center;
}

.cluesAndAnswersBoardAnswerContainer {
  font-family: Verdana;
  font-size: 18;
  text-transform: uppercase;
  padding: 10;
  color: #fefd3c;
  width: 150px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
}

.cluesAndAnswersBoardPointsContainer {
  width: 65px;
  height: 65px;
  border-radius: 75px;
  border: 3px solid #faf7a0;
  background: #82264d;
  margin: -8px 0px 10px 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 28px;
  font-family: "Arial Black";
  color: #fefd1d;
}

.possibleAnswersBoardContainer {
  line-height: 1;
  height: 55px;
  border-radius: 50px;
  border: 2px solid #f9f463;
  margin: 35px 10px 10px 10px;
  display: flex;
  background: radial-gradient(ellipse at top, #660907, transparent),
    radial-gradient(ellipse at bottom, #200202, transparent);
}

.possibleAnswersBoardAnswerContainer {
  font-family: "Verdana";
  text-transform: uppercase;
  color: #fefd3c;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding-left: 15px;
  text-align: center;
}

.possibleAnswersBoardPointsContainer {
  width: 65px;
  height: 65px;
  border-radius: 75px;
  border: 3px solid #faf7a0;
  background: #82264d;
  margin: -8px 0px 10px 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
}

.pointlessAnswer {
  font-variant: small-caps;
  position: absolute;
  top: 50%;
  left: 0%;
  color: white;
  -webkit-text-stroke: 2px black;
  animation: pointlessMoving 3s ease;
  display: block;
  transform-style: preserve-3d;
  animation-fill-mode: forwards;
}

@keyframes pointlessMoving {
  0% {
    top: 0;
    left: 25%;
    font-size: 10px;
    transform: rotateY(0deg);
  }
  25% {
    transform: rotateY(-360deg);
  }
  50% {
    top: 50%;
    left: 50%;
    font-size: 20px;
    transform: rotateY(0deg);
  }
  100% {
    top: 50%;
    left: -30%;
    font-size: 50px;
    transform: rotateY(-360deg);
  }
}

.mainFrame {
  background-color: black;
  padding: 10px;
  border: 2px solid #f2dc53;
  border-radius: 10px;
}

.headToHeadAnswer {
  width: 400px;
  margin-top: 15px;
  border-radius: 30px;
  height: 50px;
  text-align: center;
  background: linear-gradient(
    180deg,
    #45063f 0%,
    #8b3168 25%,
    #5d366f 50%,
    #45063f 100%
  );
  color: #f0f30c;
  font-family: Verdana;
  text-transform: uppercase;
}

.headToHeadLogo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url("/images/marvel_vs_dc.webp");
  background-size: 900px 500px;
  width: 900px;
  height: 500px;
  position: fixed;
  top: 40%;
  color: #ffffff;
  text-shadow: -5px -5px 0 #000, 5px -5px 0 #000, -5px 5px 0 #000,
    5px 5px 0 #000;
  font-family: Verdana;
  font-weight: bold;
  animation: headToHeadAnimation 6s ease;
  left: 0;
}

.headToHeadTeams {
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  align-items: center;
}

.headToHeadTeamName {
  font-size: 50px;
}

@keyframes headToHeadAnimation {
  0% {
    left: -40%;
  }
  25% {
    left: 20%;
  }
  75% {
    left: 20%;
  }
  100% {
    left: 200%;
  }
}

.headToHeadHeaderText {
  text-align: center;
  font-size: 30px;
}
